############################
# Custom
############################

node_modules
npm-debug.log
.next
.cache
.tmp
build
.strapi-updater.json
*.md
LICENSE
.dockerignore
Dockerfile
**/*.class
**/*.yml
**/*.yaml
.git
.gitignore
run.sh
devel.sh
